form {
    width: 45%;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-gap: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    display: block;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="submit"] {
    background-color: #2dd0c8;
    color: white;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #26f0e6;
}

h1 {
    color: #1d7ba1;
    font-size: 32px;
    text-align: center;
}